.container{
	background-color: LavenderBlush;
}

.col-sm-4{
	text-align: center;
}

.btn:hover {background-color: blue}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

th,td{
	padding: 15px;
	text-align: center;
}